:root {
  --max-width: 900px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;

  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --clr-shadow: #232323;
}

@media (prefers-color-scheme: dark) {
  :root {
    --clr-shadow: #232323;
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 23, 23, 23;
    --background-end-rgb: 34, 34, 34;
  }
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

input[type="file"]::file-selector-button,
input[type="submit"],
button {
  padding: 0.5em 1em;
}
input,
button {
  font-size: 1.2rem;
}

section,
form {
  display: flex;
  flex-direction: column;

  padding: 1em;
  gap: 1em;
  border-radius: var(--border-radius);

  box-shadow: 0 0 0.5em 0.5em var(--clr-shadow);
}

.separator {
  height: 1px;
  background: linear-gradient(
    90deg,
    var(--clr-shadow),
    rgb(var(--foreground-rgb)),
    var(--clr-shadow)
  );
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
